body {
  font-family: "Avenir Next", sans-serif;
  color: #323232;
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.page-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  .page-header {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

.section__title,
.footer__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  .section__title,
  .footer__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

.subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .subheader {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.body-copy,
.footer__text,
.footer__contact p,
.footer__contact a {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 48rem) {
  .body-copy,
  .footer__text,
  .footer__contact p,
  .footer__contact a {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.labels-buttons {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  .labels-buttons {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

.date-text {
  font-weight: 600;
}

@media (max-width: 48rem) {
  .tickets__card {
    padding: 1rem 0;
    flex-direction: column;
  }
  .tickets__card .tickets__label--mobile {
    font-weight: bold;
    color: #AFAFAF;
  }
  .tickets__card .tickets__value {
    margin-bottom: 1.5rem;
  }
  .tickets__row--header {
    display: none;
  }
  .tickets__button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #323232;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 0.3125rem;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 550;
    white-space: nowrap;
    width: 100%;
    font-size: 1.5rem;
  }
  .tickets__button:hover {
    background-color: #191919;
  }
  .music-card .music-card__text-container h1,
  .music-card .music-card__text-container h2 {
    font-size: 1.5rem;
  }
}
.tickets__row--header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #AFAFAF;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
  padding: 0 auto;
}
@media (max-width: 80rem) {
  .grid-container {
    padding: 0 2.25rem;
  }
}
@media (max-width: 48rem) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
    padding: 0 1rem;
    gap: 1rem;
  }
}

.header {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
}
.header .nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .nav .nav__logo {
  font-size: 2.25rem;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 1rem;
}
.header .nav .nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}
@media (min-width: 48rem) {
  .header .nav .nav__list {
    margin-left: 2rem;
  }
}
.header .nav .nav__list .nav__item .nav__link {
  color: #E1E1E1;
  text-decoration: none;
  font-weight: 400;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: color 0.3s;
  --underline-size-hover: 2px;
  --underline-size-active: 4px;
}
.header .nav .nav__list .nav__item .nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #FFFFFF;
  bottom: var(--underline-bottom, -30px);
  transition: height 0.3s;
}
.header .nav .nav__list .nav__item .nav__link:hover::after {
  height: var(--underline-size-hover);
}
.header .nav .nav__list .nav__item .nav__link.nav__link--active::after {
  height: var(--underline-size-active);
}
.header .nav .nav__list .nav__item .nav__link:hover {
  color: #FFFFFF;
}
.header .nav .nav__list .nav__item .nav__link.nav__link--active {
  color: #FFFFFF;
  font-weight: 500;
}

@media (min-width: 80rem) {
  .header {
    padding-left: 5rem;
  }
  .nav__logo {
    margin-left: 0;
  }
  .grid-container {
    padding: 0 4rem;
  }
}
@media (min-width: 48rem) and (max-width: 80rem) {
  .header {
    padding-left: 3rem;
  }
  .nav__logo {
    margin-left: 0;
  }
  .grid-container {
    padding: 0 2rem;
  }
  .music-section {
    padding: 3rem !important;
  }
  .tickets-section,
  .footer {
    padding: 4rem !important;
  }
  .tickets-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .tickets-section .tickets__card {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
  }
  .tickets-section .tickets__card .tickets__label--mobile {
    display: none;
  }
  .tickets-section .tickets__card .tickets__header-row,
  .tickets-section .tickets__card .tickets__value-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0.5rem;
  }
  .tickets-section .tickets__card .tickets__label,
  .tickets-section .tickets__card .tickets__value {
    text-align: left;
  }
  .tickets-section .tickets__card .tickets__label {
    color: #AFAFAF;
    font-weight: 600;
    text-transform: uppercase;
  }
  .tickets-section .tickets__card .tickets__value {
    color: #323232;
    padding-left: 0;
  }
  .tickets-section .tickets__card .tickets__button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #323232;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 0.3125rem;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 550;
    white-space: nowrap;
  }
  .tickets-section .tickets__card .tickets__button:hover {
    background-color: #191919;
  }
  .tickets-section .tickets__divider {
    border-top: 1px solid #AFAFAF;
    margin: 2rem 0;
  }
}
@media (min-width: 80rem) {
  .tickets-section .headline,
  .music-section .headline,
  .footer .headline {
    padding-top: 48px;
    padding-bottom: 36px;
  }
  .tickets-section .component,
  .music-section .component,
  .footer .component {
    margin-bottom: 36px;
  }
  .tickets-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .tickets-section .section__title {
    display: none;
  }
  .tickets-section .tickets__list::before {
    display: none;
  }
  .tickets-section .tickets__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 4rem;
  }
  .tickets-section .tickets__list .tickets__card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
  }
  .tickets-section .tickets__list .tickets__card .tickets__label--mobile {
    display: none;
  }
  .tickets-section .tickets__list .tickets__card .tickets__value {
    color: #323232;
  }
  .tickets-section .tickets__list .tickets__card .tickets__button {
    max-width: 15.625rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #323232;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 0.3125rem;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 550;
    white-space: nowrap;
  }
  .tickets-section .tickets__list .tickets__card .tickets__button:hover {
    background-color: #191919;
  }
  .tickets-section .tickets__list .tickets__divider {
    border-top: 1px solid #AFAFAF;
    margin: 0rem 0;
  }
  .tickets-section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6rem;
  }
  .desktop-section-title {
    display: block;
    flex: 0 0 20%;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .tickets-section {
    flex: 0 0 75%;
  }
}
@media (max-width: 48rem) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .nav .nav__logo {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .nav .nav__list {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-left: 0;
    width: 100%;
  }
  .nav .nav__list .nav__item {
    flex: 1;
    text-align: center;
  }
  .nav .nav__link {
    justify-content: center;
    padding: 0 1rem;
    position: relative;
    color: #E1E1E1;
  }
  .nav .nav__link.nav__link--active, .nav .nav__link:hover {
    color: #FFFFFF;
  }
  .nav .nav__link::after {
    height: 0;
    transition: height 0.3s;
  }
  .nav .nav__link .nav__link--active::after, .nav .nav__link:hover::after {
    height: 0.3125rem;
  }
}
.music-section {
  position: relative;
  background: url("../assets/images/Photo-gallery-3.jpg") no-repeat center center;
  background-size: cover;
  text-align: left;
  color: #FFFFFF;
  padding: 4rem 1rem;
}
@media (min-width: 80rem) {
  .music-section {
    padding: 10rem 10rem;
  }
}
.music-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.music-section .section__title {
  padding-bottom: 0.5rem;
  position: relative;
  z-index: 2;
}
.music-section .music-card {
  position: relative;
  border-radius: 0.5rem;
  padding: 1rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
@media (min-width: 80rem) {
  .music-section .music-card {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 48rem) and (max-width: 80rem) {
  .music-section .music-card {
    padding-right: 15rem;
  }
}
.music-section .music-card .music-card__text-container {
  flex: 1;
  text-align: left;
  margin-right: 2rem;
}
.music-section .music-card .music-card__text-container h1 {
  margin: 0.5rem 0;
  font-size: 3.75rem;
  font-weight: 700;
}
.music-section .music-card .music-card__text-container h2 {
  margin: 0.5rem 0;
  font-size: 2.25rem;
  font-weight: 700;
}
@media (max-width: 48rem) {
  .music-section .music-card .music-card__text-container h1,
  .music-section .music-card .music-card__text-container h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.music-section .music-card .music-card__player {
  flex: 1;
}
@media (min-width: 80rem) {
  .music-section .music-card .music-card__player iframe {
    width: 50%;
    height: 5.1875rem;
  }
}
.music-section .music-card .music-card__player iframe {
  width: 100%;
  height: 10.375rem;
  border: none;
}

.tickets-section {
  padding: 2rem;
}
.tickets-section .headline {
  padding-top: 24px;
  padding-bottom: 16px;
}
.tickets-section .component {
  margin-bottom: 16px;
}
.tickets-section .section__title {
  padding-bottom: 0.5rem;
}
.tickets-section .tickets__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.tickets-section .tickets__row .tickets__label,
.tickets-section .tickets__row .tickets__value {
  flex: 1;
  text-align: left;
  margin: 0;
  padding: 0;
}
.tickets-section .tickets__row .tickets__label {
  color: #AFAFAF;
  font-weight: 600;
  text-transform: uppercase;
}
.tickets-section .tickets__row .tickets__value {
  font-weight: 400;
  color: #323232;
  padding-left: 0;
}
.tickets-section .tickets__row .tickets__date {
  font-weight: 600;
}
.tickets-section .tickets__row .tickets__button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #323232;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 0.3125rem;
  transition: background-color 0.3s;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 550;
  white-space: nowrap;
  min-width: 100px;
  font-size: 0.75rem;
}
.tickets-section .tickets__row .tickets__button:hover {
  background-color: #191919;
}
.tickets-section .tickets__card {
  padding: 1rem 0;
}
.tickets-section .tickets__card .tickets__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tickets-section .tickets__card .tickets__row > .tickets__label,
.tickets-section .tickets__card .tickets__row > .tickets__value,
.tickets-section .tickets__card .tickets__row > .tickets__button {
  flex: 1;
  text-align: left;
}
.tickets-section .tickets__card .tickets__row > .tickets__button {
  text-align: center;
}
.tickets-section .tickets__divider {
  border-top: 1px solid #AFAFAF;
  margin: 0rem 0;
}
@media (min-width: 48rem) {
  .tickets-section .tickets__card {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .tickets-section .tickets__card .tickets__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .tickets-section .tickets__card .tickets__value-row {
    margin-bottom: 1rem;
  }
  .tickets-section .tickets__card .tickets__row > .tickets__label,
  .tickets-section .tickets__card .tickets__row > .tickets__value,
  .tickets-section .tickets__card .tickets__row > .tickets__button {
    flex: 1;
    text-align: left;
  }
  .tickets-section .tickets__card .tickets__row > .tickets__button {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 700;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #323232;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 0.3125rem;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 550;
    white-space: nowrap;
  }
  .tickets-section .tickets__card .tickets__row > .tickets__button:hover {
    background-color: #191919;
  }
}
@media (min-width: 80rem) {
  .tickets-section .tickets-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .tickets-section .tickets-section .section__title {
    display: none;
  }
  .tickets-section .tickets-section .tickets__list::before {
    display: none;
  }
  .tickets-section .tickets-section .tickets__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 4rem;
  }
  .tickets-section .tickets-section .tickets__list .tickets__card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
  }
  .tickets-section .tickets-section .tickets__list .tickets__card .tickets__label--mobile {
    display: none;
  }
  .tickets-section .tickets-section .tickets__list .tickets__card .tickets__value {
    font-weight: 400;
    color: #323232;
  }
  .tickets-section .tickets-section .tickets__list .tickets__card .tickets__button {
    max-width: 15.625rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #323232;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 0.3125rem;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 550;
    white-space: nowrap;
  }
  .tickets-section .tickets-section .tickets__list .tickets__card .tickets__button:hover {
    background-color: #191919;
  }
  .tickets-section .tickets-section .tickets__list .tickets__divider {
    border-top: 1px solid #AFAFAF;
    margin: 2rem 0;
  }
  .tickets-section .tickets-section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6rem;
  }
  .tickets-section .desktop-section-title {
    display: block;
    flex: 0 0 20%;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .tickets-section .tickets-section {
    flex: 0 0 75%;
  }
}
@media (max-width: 48rem) {
  .tickets-section .tickets__row--header {
    display: none !important;
  }
  .tickets-section .tickets__card .tickets__label--mobile {
    display: block !important;
  }
}

.desktop-section-title {
  display: none;
}
@media (min-width: 80rem) {
  .desktop-section-title {
    display: block;
    flex: 0 0 20%;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 2rem;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  position: relative;
}
@media (min-width: 48rem) and (max-width: 80rem) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    padding: 6rem !important;
  }
  .footer__brand {
    position: absolute;
    top: 2rem;
    right: 4rem;
  }
  .footer__contact--top-left {
    position: absolute;
    top: 0rem;
    left: 6rem;
    display: flex;
    align-items: center;
  }
  .footer__contact--top-left__text {
    margin-right: 1rem;
  }
  .footer__contact--top-left__icons {
    display: flex;
    gap: 1.5rem;
  }
}
@media (min-width: 80rem) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    padding: 6rem;
  }
  .footer__brand {
    position: absolute;
    top: 3rem;
    right: 10rem;
  }
  .footer__contact--top-left {
    position: absolute;
    top: 1rem;
    left: 6rem;
    display: flex;
    align-items: center;
  }
  .footer__contact--top-left__text {
    margin-right: 1rem;
  }
  .footer__contact--top-left__icons {
    display: flex;
    gap: 1.5rem;
  }
}
.footer__contact p,
.footer__contact a {
  color: #FFFFFF;
  text-decoration: none;
  padding-bottom: 0.5rem;
}
.footer__contact__bandsite {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.footer__header {
  line-height: 2.75rem;
  font-weight: 700;
}
.footer__social-icons {
  display: flex;
  gap: 1.5rem;
  padding-bottom: 0.5rem;
}
.footer__text, .footer__contact p,
.footer__contact a, .footer__link {
  margin: 0.5rem 0;
  padding-bottom: 0.5rem;
}
.footer__brand-link {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.footer__copyright {
  line-height: 2.75rem;
  text-align: left;
  grid-column: 1/-1;
}
@media (max-width: 48rem) {
  .footer__brand {
    position: static;
    margin-top: 1rem;
    margin-left: 0;
    text-align: left;
  }
  .footer__contact--top-left {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .footer__contact--top-left__text {
    margin-bottom: 0.5rem;
  }
  .footer__contact--top-left__icons {
    display: flex;
    gap: 1.5rem;
  }
  .footer__copyright {
    text-align: left;
  }
}

.tickets__card {
  position: relative;
}
.tickets__card:hover {
  background-color: #FAFAFA;
}
.tickets__card:hover::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1.25rem;
  right: -1.25rem;
  background-color: inherit;
  z-index: -1;
}
.tickets__card--selected {
  background-color: #E1E1E1;
}
.tickets__card--selected::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1.25rem;
  right: -1.25rem;
  background-color: inherit;
  z-index: -1;
}

.tickets__card--large-padding {
  padding: 1rem 0;
}

.tickets__card--no-padding {
  padding: 0;
}

.tickets__button--large-padding {
  padding: 1rem 1rem;
  font-size: 20px;
}

.tickets__button--small-padding {
  padding: 0.5rem 1rem;
}

@media (min-width: 1280px) {
  .tickets__card {
    padding: 0;
  }
  .tickets__button {
    padding: 0.5rem 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .tickets__card {
    padding: 1rem 0;
  }
}
@media (max-width: 767px) {
  .tickets__button {
    padding: 1rem 1rem;
    font-size: 20px;
  }
}
body {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #323232;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  overflow-x: hidden;
}

.page-header,
.section-header,
.subheader,
.body-copy,
.footer-copy,
.labels-buttons,
.bold-quote {
  padding: 0.25rem 0;
}

.page-header {
  font-size: 3.75rem;
  line-height: 4.25rem;
  font-weight: bold;
}
@media (max-width: 767px) {
  .page-header {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.section-header {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
  padding-bottom: 2.25rem;
}
@media (max-width: 767px) {
  .section-header {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 1rem;
  }
}

.subheader {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media (max-width: 767px) {
  .subheader {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.body-copy,
.footer-copy {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (max-width: 767px) {
  .body-copy,
  .footer-copy {
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
}

.labels-buttons {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media (max-width: 767px) {
  .labels-buttons {
    font-size: 0.625rem;
    line-height: 1.25rem;
  }
}

.bold-quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;
}
@media (max-width: 767px) {
  .bold-quote {
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2.25rem;
}
@media (max-width: 1279px) {
  .grid-container {
    padding: 0 2.25rem;
    grid-template-columns: repeat(12, 1fr);
    gap: 2.25rem;
  }
}
@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
    padding: 0 1rem;
    gap: 1rem;
  }
}

.header {
  background-color: #323232;
  color: #ffffff;
  padding: 1rem;
}
.header .nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .nav .nav__logo {
  font-size: 2.25rem;
  color: #ffffff;
  text-decoration: none;
  margin-left: 1rem;
}
.header .nav .nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}
@media (min-width: 768px) {
  .header .nav .nav__list {
    margin-left: 2rem;
  }
}
.header .nav .nav__list .nav__item .nav__link {
  color: #e1e1e1;
  text-decoration: none;
  font-weight: 400;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header .nav .nav__list .nav__item .nav__link.nav__link--active {
  color: #ffffff;
  font-weight: 500;
}
.header .nav .nav__list .nav__item .nav__link.nav__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  bottom: var(--underline-bottom, -30px);
}
.header .nav .nav__list .nav__item .nav__link:hover {
  color: #ffffff;
}
.header .nav .nav__list .nav__item .nav__link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  bottom: var(--underline-bottom, -30px);
}
.header .nav .nav__list .nav__item .nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #ffffff;
  bottom: var(--underline-bottom, -30px);
  transition: bottom 0.3s ease;
}

@media (max-width: 767px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .nav .nav__logo {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .nav .nav__list {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-left: 0;
    width: 100%;
  }
  .nav .nav__list .nav__item {
    flex: 1;
    text-align: center;
  }
  .nav .nav__link {
    justify-content: center;
    padding: 0 1rem;
    position: relative;
  }
  .nav .nav__link::after {
    height: 0;
    transition: height 0.3s;
  }
  .nav .nav__link--active::after {
    height: 5px;
  }
  .nav .nav__link:hover::after {
    height: 2px;
  }
}
.hero {
  position: relative;
  height: 60vh;
}
@media (max-width: 1280px) {
  .hero {
    height: 50vh;
  }
}
@media (max-width: 768px) {
  .hero {
    height: 40vh;
  }
}
.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.hero .hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hero .hero__overlay .hero__title {
  font-size: 3.75rem;
  color: #ffffff;
  text-align: left;
  margin-left: 3rem;
}
@media (max-width: 767px) {
  .hero .hero__overlay .hero__title {
    font-size: 1.5rem;
    margin-left: 1.5rem;
  }
}

.biography {
  padding: 3rem;
  text-align: left;
}
@media (max-width: 767px) {
  .biography {
    padding: 1.5rem;
  }
}
.biography .section__title {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
  padding-bottom: 2.25rem;
}
@media (max-width: 767px) {
  .biography .section__title {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 1rem;
  }
}
.biography .band__info {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  text-align: left;
}
.biography .band__info img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.biography .band__info .text-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.25rem;
}
@media (max-width: 767px) {
  .biography .band__info .text-container {
    flex-direction: column;
    gap: 1rem;
  }
}
.biography .band__info .text-container .column {
  flex: 1;
}
.biography .band__info p {
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 0rem;
  padding-bottom: 0.5rem;
}
.biography .band__info .quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.biography .band__info .bold-quote {
  font-weight: 700;
  grid-column: 1/-1;
  font-size: 1rem;
}
.biography .band__info .quote.bold-quote:first-of-type {
  margin-bottom: 0.2rem;
}
.biography .band__info .small-text {
  font-size: 0.8rem;
}
.biography .band__info h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 0rem;
  grid-column: span 2;
  padding-bottom: 0.5rem;
}
.biography .band__photo {
  align-self: flex-start;
}

.gallery {
  padding: 3rem;
  text-align: left;
  background-color: #fafafa !important;
}
@media (max-width: 767px) {
  .gallery {
    padding: 1.5rem;
  }
}
.gallery .section__title {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
  padding-bottom: 2.25rem;
}
@media (max-width: 767px) {
  .gallery .section__title {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 1rem;
  }
}
.gallery .gallery__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.25rem;
}
@media (max-width: 767px) {
  .gallery .gallery__container {
    flex-direction: column;
    gap: 1rem;
  }
}
.gallery .gallery__container .gallery__item {
  flex: 1 1 calc(33.333% - 2.25rem);
}
@media (max-width: 767px) {
  .gallery .gallery__container .gallery__item {
    flex: 1 1 100%;
  }
}
.gallery .gallery__container .gallery__item img {
  width: 100%;
  display: block;
}
.gallery .gallery__container .gallery__item img:hover {
  filter: grayscale(100%);
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 1rem;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  position: relative;
}
@media (min-width: 48rem) and (max-width: 80rem) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    padding: 6rem !important;
  }
  .footer__brand {
    position: absolute;
    top: 2rem;
    right: 4rem;
  }
  .footer__contact--top-left {
    position: absolute;
    top: 0rem;
    left: 6rem;
    display: flex;
    align-items: center;
  }
  .footer__contact--top-left__text {
    margin-right: 1rem;
  }
  .footer__contact--top-left__icons {
    display: flex;
    gap: 1.5rem;
  }
}
@media (min-width: 80rem) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    padding: 6rem;
  }
  .footer__brand {
    position: absolute;
    top: 3rem;
    right: 10rem;
  }
  .footer__contact--top-left {
    position: absolute;
    top: 1rem;
    left: 6rem;
    display: flex;
    align-items: center;
  }
  .footer__contact--top-left__text {
    margin-right: 1rem;
  }
  .footer__contact--top-left__icons {
    display: flex;
    gap: 1.5rem;
  }
}
.footer__contact p,
.footer__contact a {
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 0.5rem;
}
.footer__contact__bandsite {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.footer__header {
  line-height: 2.75rem;
  font-weight: 700;
}
.footer__social-icons {
  display: flex;
  gap: 1.5rem;
  padding-bottom: 0.5rem;
}
.footer__text, .footer__contact p,
.footer__contact a, .footer__link {
  margin: 0.5rem 0;
  padding-bottom: 0.5rem;
}
.footer__brand-link {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.footer__copyright {
  line-height: 2.75rem;
  text-align: left;
  grid-column: 1/-1;
}
@media (max-width: 48rem) {
  .footer__brand {
    position: static;
    margin-top: 1rem;
    margin-left: 0;
    text-align: left;
  }
  .footer__contact--top-left {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .footer__contact--top-left__text {
    margin-bottom: 0.5rem;
  }
  .footer__contact--top-left__icons {
    display: flex;
    gap: 1.5rem;
  }
  .footer__copyright {
    text-align: left;
  }
}

.comments {
  padding: 3rem;
  text-align: left;
}
@media (max-width: 767px) {
  .comments {
    padding: 1.5rem;
  }
}
.comments__title-mobile {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  display: none;
}
.comments__form-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.comments__form-container .comments__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: #e1e1e1;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .comments__form-container .comments__avatar {
    width: 2.25rem;
    height: 2.25rem;
  }
}
.comments__form-container .comments__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.comments__form-container .comments__form .comments__label {
  font-weight: 600;
  margin-bottom: 4px;
  font-size: 0.8rem;
  color: #ffffff;
}
.comments__form-container .comments__form .comments__input,
.comments__form-container .comments__form .comments__textarea {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #323232;
}
@media (max-width: 767px) {
  .comments__form-container .comments__form .comments__input,
  .comments__form-container .comments__form .comments__textarea {
    padding: 0.75rem;
  }
}
.comments__form-container .comments__form .comments__input:focus,
.comments__form-container .comments__form .comments__textarea:focus {
  border-color: #323232;
}
.comments__form-container .comments__form .comments__input.error,
.comments__form-container .comments__form .comments__textarea.error {
  border-color: #d22d2d;
}
.comments__form-container .comments__form .comments__textarea {
  height: 9.375rem;
}
.comments__form-container .comments__form .comments__button {
  padding: 0.5rem;
  background-color: #323232;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  height: 3.125rem;
  font-weight: 500;
}
.comments__form-container .comments__form .comments__button:hover {
  background-color: #191919;
}
@media (min-width: 768px) {
  .comments__form-container .comments__form .comments__button {
    width: 50%;
    align-self: flex-end;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-weight: 550;
  }
}
.comments__list {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-top: 1rem;
}
.comments__list .comments__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ffffff;
}
.comments__list .comments__item:last-child {
  margin-bottom: 0;
}
.comments__list .comments__item .comments__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
  background-color: #e1e1e1;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .comments__list .comments__item .comments__avatar {
    width: 2.25rem;
    height: 2.25rem;
  }
}
.comments__list .comments__item .comments__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comments__list .comments__item .comments__content .comments__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}
.comments__list .comments__item .comments__content .comments__name {
  font-weight: 550;
}
.comments__list .comments__item .comments__content .comments__date {
  font-size: 0.8rem;
  color: #ffffff;
}
.comments__list .comments__item .comments__content .comments__text {
  font-size: 1rem;
  font-weight: 500;
}
.comments__list .comments__item .comments__content .comments__footer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.comments__list .comments__item .comments__content .comments__likes {
  font-size: 0.875rem;
  color: #555;
  margin-right: 10px;
}
.comments__list .comments__item .comments__content .comments__button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: transform 0.3s;
  margin-right: 10px;
}
.comments__list .comments__item .comments__content .comments__button:last-child {
  margin-right: 0;
}
.comments__list .comments__item .comments__content .comments__button:hover {
  transform: scale(1.1);
}
.comments__list .comments__item .comments__content .comments__button--liked img {
  filter: invert(32%) sepia(91%) saturate(7487%) hue-rotate(358deg) brightness(102%) contrast(101%);
}
.comments__list .comments__item .comments__content .comments__icon {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .comments {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .comments .comments__title-mobile {
    display: none;
  }
  .comments-wrapper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .desktop-section-title {
    display: block;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .comments {
    padding: 1rem;
  }
  .comments .comments__title-mobile {
    display: block;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1025px) {
  .comments {
    padding-left: 18rem;
    padding-right: 18rem;
  }
  .comments .section__title {
    display: none;
  }
  .comments-wrapper {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .desktop-section-title {
    display: block;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}
.error {
  border: 1px solid #d22d2d;
  background-color: #ffe6e6;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}

.form-field {
  border: 1px solid #e1e1e1;
}
.form-field:focus {
  border-color: #323232;
}
.form-field.error {
  border-color: #d22d2d;
}

.table-row.selected {
  background-color: #e1e1e1;
}
.table-row:hover {
  background-color: #fafafa;
}

.bio-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bio-wrapper .column {
  flex: 1;
  padding: 1rem;
}
.bio-wrapper p {
  margin: 0 0 1rem 0;
}
@media (max-width: 768px) {
  .bio-wrapper {
    flex-direction: column;
  }
  .bio-wrapper .column {
    flex: 1 1 100%;
  }
}