@import './partials/variables';
@import './partials/mixins';
@import './partials/global';

// Variables
$primary-color: #323232;
$white-color: #FFFFFF;
$background-color: #ffffff;
$secondary-color: #AFAFAF;
$button-color: #323232;
$button-hover-color: darken($button-color, 10%);
$button-text-color: #FFFFFF;
$inactive-nav-color: #E1E1E1;
$mobile-breakpoint: 48rem; 
$tablet-breakpoint: 48rem; 
$desktop-breakpoint: 80rem; 

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive-font($size-mobile, $size-desktop, $line-height-mobile, $line-height-desktop) {
  font-size: $size-mobile;
  line-height: $line-height-mobile;

  @media (min-width: $tablet-breakpoint) {
    font-size: $size-desktop;
    line-height: $line-height-desktop;
  }
}

@mixin button-styles {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: $button-color;
  color: $button-text-color;
  text-decoration: none;
  border-radius: 0.3125rem;
  transition: background-color 0.3s;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 550;
  white-space: nowrap;

  &:hover {
    background-color: $button-hover-color;
  }
}

// Base styles
body {
  font-family: 'Avenir Next', sans-serif;
  color: $primary-color;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

// Text styles
.page-header,
.footer__header {
  @include responsive-font(1.5rem, 2.25rem, 2rem, 2.75rem);
  font-weight: 700;

  @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
    margin-left: -2rem;
  }

  @media (min-width: $desktop-breakpoint) {
    margin-left: 6rem;
  }
}

.subheader {
  @include responsive-font(0.875rem, 1.5rem, 1.375rem, 2rem);
  font-weight: 600;
}

.body-copy,
.footer__text {
  @include responsive-font(0.8125rem, 0.875rem, 1.125rem, 1.25rem);
  font-weight: 400;

  @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
    margin-left: -2rem;
  }

  @media (min-width: $desktop-breakpoint) {
    margin-left: 6rem;
  }
}

.labels-buttons {
  @include responsive-font(0.625rem, 0.75rem, 1.25rem, 1.25rem);
  font-weight: 700;
}

.date-text {
  font-weight: 600;
}

// Footer styles
.footer {
  background-color: $primary-color;
  color: $white-color;
  padding-left: 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $tablet-breakpoint) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 6rem !important;

    .footer__columns {
      display: flex;
      flex: 1;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .footer__contact {
      flex: 1 1 calc(33.333% - 1rem);
      margin-bottom: 1rem;
    }

    .footer__copyright {
      width: 100%;
      text-align: left;
      margin-top: 2rem;
      order: 3; 
      margin-left: -2rem;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    .footer__columns {
      display: flex;
      flex: 1;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .footer__contact {
      flex: 1 1 calc(33.333% - 1rem);
      margin-bottom: 1rem;
    }

    .footer__copyright {
      width: 100%;
      text-align: left;
      margin-top: 2rem;
      order: 3; 
      margin-left: 6rem;
    }
  }

  .footer__contact,
  .footer__brand,
  .footer__copyright {
    margin-bottom: 1rem;

    @media (min-width: $tablet-breakpoint) {
      margin-bottom: 0;
    }
  }

  .footer__brand {
    align-self: flex-start;
    margin-bottom: -1rem;

    @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
      margin-left: 1rem;
    }

    @media (min-width: $desktop-breakpoint) {
      margin-left: 6rem;
      top: 2rem;
    }
  }

  .footer__contact--top-left {
    align-self: flex-start;
    display: flex;
    order: -1;
    align-items: center;
    margin-bottom: -1rem;

    @media (min-width: $tablet-breakpoint) {
      position: absolute;
      top: 0;
      left: 6rem;
    }
  }

  .footer__text,
  .footer__link {
    color: $white-color;
    text-decoration: none;
    line-height: 0.1rem;
  }

  .footer__text--bold {
    font-weight: 550;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
  }
  
  .footer__copyright {
    line-height: 2.75rem;
    text-align: left;

    @media (min-width: $tablet-breakpoint) {
      margin-left: -2rem;
    }

    @media (min-width: $desktop-breakpoint) {
      margin-left: 6rem;
    }
  }

  .footer__brand {
    align-self: flex-start;
    margin-bottom: 1rem;

    @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
      margin-left: 1rem;
    }

    @media (min-width: $desktop-breakpoint) {
      margin-left: 6rem;
    }
  }

  .footer__social-icons {
    display: flex;
    gap: 1.5rem;
    order: -1; 
    margin-bottom: -2rem; 
  
    @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
      position: absolute;
      top: 2.5rem;
      left: 26rem;
      transform: translateX(-50%);
      order: 2; 
      margin-bottom: 0; 
    }
  
    @media (min-width: $desktop-breakpoint) {
      position: absolute;
      top: 2.5rem;
      left: 32rem;
      transform: translateX(-50%);
      order: 2; 
      margin-bottom: 0; 
    }
  }
}

// Grid styles
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
  padding: 0 auto;

  @media (max-width: $desktop-breakpoint) {
    padding: 0 2.25rem;
  }

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: repeat(6, 1fr);
    padding: 0 1rem;
    gap: 1rem;
  }

  @media (min-width: $desktop-breakpoint) {
    padding: 0 4rem;
  }

  @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
    padding: 0 2rem;
  }
}

// Header styles
.header {
  background-color: $primary-color;
  color: $white-color;
  padding: 1rem;

  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .nav__logo {
      font-size: 2.25rem;
      color: $white-color;
      text-decoration: none;
      margin-left: 1rem;

      @media (min-width: $desktop-breakpoint) {
        margin-left: 6rem;
      }
    }

    .nav__list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 2rem;

      @media (min-width: $tablet-breakpoint) {
        margin-left: 2rem;
      }

      .nav__item {
        .nav__link {
          color: $inactive-nav-color;
          text-decoration: none;
          font-weight: 400;
          padding: 0 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          transition: color 0.3s;

          --underline-size-hover: 2px;
          --underline-size-active: 4px;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 0;
            background-color: $white-color;
            bottom: var(--underline-bottom, -30px);
            transition: height 0.3s;
          }

          &:hover::after {
            height: var(--underline-size-hover);
          }

          &.nav__link--active::after {
            height: var(--underline-size-active);
          }

          &:hover {
            color: $white-color;
          }

          &.nav__link--active {
            color: $white-color;
            font-weight: 500;
          }
        }
      }
    }
  }

  @media (min-width: $desktop-breakpoint) {
    padding-left: 6rem;

    .nav__logo {
      margin-left: 0;
    }
  }

  @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
    padding-left: 3rem;

    .nav__logo {
      margin-left: 0;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    .nav {
      flex-direction: column;
      align-items: center;

      .nav__logo {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .nav__list {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        margin-left: 0;
        width: 100%;

        .nav__item {
          flex: 1;
          text-align: center;
        }
      }

      .nav__link {
        justify-content: center;
        padding: 0 1rem;
        position: relative;
        color: $inactive-nav-color;

        &.nav__link--active,
        &:hover {
          color: $white-color;
        }

        &::after {
          height: 0;
          transition: height 0.3s;
        }

        .nav__link--active::after,
        &:hover::after {
          height: 0.3125rem;
        }
      }
    }
  }
}

// Tickets section
.tickets-section {
  padding: 2rem;
  @include container-padding(24px, 16px, 16px);

  .section__title {
    @extend .section__header !optional;
    padding-bottom: 0.5rem;
  }

  .tickets__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .tickets__label,
    .tickets__value {
      flex: 1;
      text-align: left;
      margin: 0;
      padding: 0;
    }

    .tickets__label {
      color: $secondary-color;
      font-weight: 600;
      text-transform: uppercase;
    }

    .tickets__value {
      font-weight: 400;
      color: $primary-color;
      padding-left: 0;
    }

    .tickets__date {
      font-weight: 600;
    }

    .tickets__button {
      @include button-styles;
      min-width: 100px;
      font-size: 0.75rem;
      font-weight: 700;
    }
  }

  .tickets__card {
    padding: 1rem 0;

    .tickets__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .tickets__row > .tickets__label,
    .tickets__row > .tickets__value,
    .tickets__row > .tickets__button {
      flex: 1;
      text-align: left;
    }

    .tickets__row > .tickets__button {
      text-align: center;
    }
  }

  .tickets__divider {
    border-top: 1px solid $secondary-color;
    margin: 0rem 0;
  }

  @media (min-width: $tablet-breakpoint) {
    .tickets__card {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .tickets__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      .tickets__value-row {
        margin-bottom: 1rem;
      }

      .tickets__row > .tickets__label,
      .tickets__row > .tickets__value,
      .tickets__row > .tickets__button {
        flex: 1;
        text-align: left;
      }

      .tickets__row > .tickets__button {
        text-align: center;
        font-size: 0.75rem;
        font-weight: 700;
        @include button-styles;
      }
    }
  }

  @media (min-width: $desktop-breakpoint) {
    .tickets-section {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .section__title {
        display: none;
      }

      .tickets__list::before {
        display: none;
      }

      .tickets__list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 4rem;

        .tickets__card {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          align-items: center;

          .tickets__label--mobile {
            display: none;
          }

          .tickets__value {
            font-weight: 400;
            color: $primary-color;
          }

          .tickets__button {
            max-width: 15.625rem;
            @include button-styles;
          }
        }

        .tickets__divider {
          border-top: 1px solid $secondary-color;
          margin: 2rem 0;
        }
      }
    }

    .tickets-section-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 6rem;
    }

    .desktop-section-title {
      display: block;
      flex: 0 0 20%;
      font-size: 2.25rem;
      font-weight: 700;
      margin-bottom: 6rem;
      margin-left: 6rem;
    }

    .tickets-section {
      flex: 0 0 75%;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    .tickets__row--header {
      display: none !important;
    }

    .tickets__card .tickets__label--mobile {
      display: block !important;
    }
  }
}

// Ticket card hover and selected states
.tickets__card {
  position: relative;

  &:hover {
    background-color: #FAFAFA;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1.25rem;
      right: -1.25rem;
      background-color: inherit;
      z-index: -1;
    }
  }

  &--selected {
    background-color: #E1E1E1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1.25rem;
      right: -1.25rem;
      background-color: inherit;
      z-index: -1;
    }
  }
}

.tickets__card--large-padding {
  padding: 1rem 0;
}

.tickets__card--no-padding {
  padding: 0;
}

.tickets__button--large-padding {
  padding: 1rem 1rem;
  font-size: 20px;
}

.tickets__button--small-padding {
  padding: 0.5rem 1rem;
}

@media (min-width: 1280px) {
  .tickets__card {
    padding: 0;
  }
  .tickets__button {
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .tickets__card {
    padding: 1rem 0;
  }
}

@media (max-width: 767px) {
  .tickets__button {
    padding: 1rem 1rem;
    font-size: 20px;
  }
}

.tickets__date--bold {
  font-weight: 600;
}

// Music section
.music-section {
  position: relative;
  background: url('../assets/images/Photo-gallery-3.jpg') no-repeat center center;
  background-size: cover;
  text-align: left;
  color: $white-color;
  padding: 4rem 1rem;

  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (min-width: $desktop-breakpoint) {
    padding: 10rem 11rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .section__title {
    @extend .section__header !optional;
    padding-bottom: 0.5rem;
    position: relative;
    z-index: 2;
  }

  .music-card {
    position: relative;
    border-radius: 0.5rem;
    padding: 1rem;
    z-index: 2;
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-breakpoint) {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
      padding-right: 15rem;
    }

    .music-card__text-container {
      flex: 1;
      text-align: left;
      margin-right: 2rem;

      h1 {
        margin: 0.5rem 0;
        font-size: 3.75rem;
        font-weight: 700;
        line-height: 4rem;
        margin-bottom: 3rem;
      }

      h2 {
        margin: 0.5rem 0;
        font-size: 2.25rem;
        font-weight: 700;
      }

      @media (max-width: $mobile-breakpoint) {
        h1,
        h2 {
          font-size: 1.5rem;
          line-height: 2rem;
        }
      }
    }

    .music-card__player {
      flex: 1;

      @media (min-width: $desktop-breakpoint) {
        iframe {
          width: 50%;
          height: 5.1875rem;
        }
      }

      iframe {
        width: 100%;
        height: 10.375rem;
        border: none;
      }
    }
  }
}

// Mobile styles
@media (max-width: $mobile-breakpoint) {
  .tickets__card {
    padding: 1rem 0;
    flex-direction: column;

    .tickets__label--mobile {
      font-weight: bold;
      color: $secondary-color;
    }

    .tickets__value {
      margin-bottom: 1.5rem;
    }
  }

  .tickets__row--header {
    display: none;
  }

  .tickets__button {
    @include button-styles;
    width: 100%;
    font-size: 1.5rem;
  }

  .music-card {
    .music-card__text-container {
      h1,
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}

.tickets__row--header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 1rem;
  color: $secondary-color;
}

.desktop-section-title {
  display: none;

  @media (min-width: $desktop-breakpoint) {
    display: block;
    flex: 0 0 20%;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 6rem;
    margin-left: 6rem;
  }
}
